$button-color: #EC1C24;

.layout-root {
  min-height: 100vh;
  /* autoprefixer: off */
  display: grid;
  grid-template-rows: max-content auto max-content;
}

.layout-header {
  & > a {
    text-transform: none;
  }
  & > a:nth-child(2) {
    color: $button-color;
  }
}

.layout-main {
  width: 100%;
  /* autoprefixer: off */
  grid-row: 2 / 3;
}