<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Stack Engineer Challenge</title>
  <meta name="description" content="Full Stack Engineer Challenge - Alex Tkachuk">
</head>
<body>
  <div id="app"></div>
</body>
</html>
